:root{
	background: #eee;
	height: 100%;
	overflow: hidden;
}
body{
	height: 100%;
	overflow: hidden;
	position: relative;
}

#start,#restart{
	/*width:50px;*/

	position: absolute;
	left:50%;
	top:50%;
	
	height: 30px;
	color: green;
	text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

#start{
	transform: translate(-75%,-50%);
}
#restart{
    transform: translate(25%,-50%);
}

.color-eee{

	background-color: #fac;
}

.insetShadow{
	 box-shadow:   2px 2px 15px 2px rgb(200,100,100);
}


.div1{

	width: 0px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: red;
	margin:  100px auto 10px;
	font-size: 30px;
	background-color: yellow;
	border-radius: 3px;
	transform: translate(0px,-300px);
	/*transition: all .5s ;*/
   
      overflow: hidden;
}

.getAnima{
	 animation: drop 3s ease 1 forwards ; 
}





@keyframes drop {
  0%{
    
   width: 10px;
     transform: translate(0px,-300px);
  }
  50%{
   
     width: 10px;
      transform: translate(0px,0px);
  }
  
  100%{
     transform: translate(0px,0px);
    width: 400px;

  }

}
